@model Tracker.Models.TrackerModels.WorkoutMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Workout Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkoutName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkoutMasterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
