@model IEnumerable<Tracker.Models.TrackerModels.Workout>

@{
    ViewBag.Title = "DrawChart";
}

<h2>DrawChart</h2>

    </div>
    <script>
        
            @{
        

                var myChart = new Chart(width: 800, height: 500)
                        .AddTitle("Weight Lifting Progress")
                        .AddSeries(chartType: "Bar", name: "Total Lifted",
                                   xValue: Model, xField: "WorkoutDate",
                                   yValues: Model, yFields: "TotalLifted")
                                   .AddSeries(chartType: "Bar", name: "Weight Lifted",
                                   xValue: Model, xField: "WorkoutDate",
                                   yValues: Model, yFields: "WeightLifted")
                                   .AddLegend(name: "Legend")
                                   .ToWebImage("jpeg")
                        .Write();


            }


        </script>




