@model Tracker.Models.TrackerModels.Workout

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



    <img src="@Url.Action("DrawChart", "GraphController")"/>

    <div class="col-sm-4">
        <input type="button" onclick="location.href='https://localhost:44339/Graph/DrawChart';" value="Create Chart" />


    </div>

  